.info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	align-self: stretch;
	margin-bottom: 2.4rem;

	font-weight: 700;
	font-size: 1.4rem;
}

.createdTasks,
.finishedTasks {
	display: flex;
	align-items: center;
	gap: 0.8rem;
}

.createdTasks > :first-child {
	color: var(--blue);
}

.createdTasks > :nth-child(2),
.finishedTasks > :nth-child(2) {
	color: var(--gray-100);

	padding: 0.2rem 0.8rem;
	background-color: var(--gray-400);
	border-radius: 50%;
}

.finishedTasks > :first-child {
	color: var(--violet);
}
