:root {
	--blue: #4ea8de;
	--blue-dark: #1e6f9f;

	--violet: #8284fa;
	--violet-dark: #5e60ce;

	--danger: #e25858;

	--gray-100: #f2f2f2;
	--gray-200: #d9d9d9;
	--gray-300: #808080;
	--gray-400: #333333;
	--gray-500: #262626;
	--gray-600: #1a1a1a;
	--gray-700: #0d0d0d;

	font-size: 62.5%;
}

#root {
	position: relative;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline-color: var(--violet-dark);
}

body {
	font-family: Inter, sans-serif;
	font-size: 1.6rem;
	line-height: 140%;
	font-synthesis: none;
	text-rendering: optimizeLegibility;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--gray-600);
}

/* SCROLLBAR */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background: var(--violet);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--violet-dark);
}
